@import url("ibg.css");
@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@font-face {
  font-family: "Angry";
  src: url("../fonts/Angry-Regular.woff") format("woff"), url("../fonts/Angry-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Suisse Intl";
  src: url(../fonts/SuisseIntl-Light.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Suisse Intl";
  src: url(../fonts/SuisseIntl-SemiBold.otf);
  font-weight: 700;
  font-style: normal;
}
.body {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  background-color: #121212;
  color: white;
}
.body--lock {
  position: fixed;
  overflow: hidden;
}

.container {
  max-width: 1228px;
  margin: 0 auto;
}

.logo {
  font-family: "Angry";
  font-size: 20px;
  line-height: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 56px;
  min-height: 96px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 575.98px) {
  .header__container {
    min-height: 72px;
  }
}
.header__burger {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: url(../img/icons/menu.svg) center no-repeat;
}
.header__burger:hover {
  background-image: url(../img/icons/menu-hover-black.svg);
}
@media (max-width: 1092.98px) {
  .header__burger {
    z-index: 500;
  }
  .header__burger--active {
    background-image: url(../img/icons/state=default-white.svg);
  }
  .header__burger--active:hover {
    background-image: url(../img/icons/state=hovered-on-black.svg);
  }
}
@media (max-width: 575.98px) {
  .header__burger {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}
.header__logo {
  color: #ffffff;
  margin: 0 auto;
  font-size: 25px;
}
.header__logo:hover {
  color: #EE0039;
}
.header__search-button {
  border: none;
  font-size: 0;
  width: 32px;
  height: 32px;
  background: url(../img/icons/search.svg) center no-repeat;
}
.header__search-button:hover {
  background-image: url(../img/icons/search-hover-black.svg);
}
@media (max-width: 575.98px) {
  .header__search-button {
    display: none;
  }
}
.header__search-form {
  display: none;
}
.header__shop-button {
  font-size: 0;
  width: 32px;
  height: 32px;
  background: url(../img/icons/cart.svg) center no-repeat;
  margin-left: 20px;
}
.header__shop-button:hover {
  background-image: url(../img/icons/cart-hover-black.svg);
}
@media (max-width: 575.98px) {
  .header__shop-button {
    display: none;
  }
}
.header__menu {
  position: absolute;
  top: 0;
  left: -150%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.header__menu--active {
  left: 0;
}

.menu {
  background-color: #121212;
  height: 100vh;
  min-width: 62.5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1.5fr 20px 1fr;
  grid-template-rows: 1.5fr 1fr;
      grid-template-areas: ". menu-list menu-list" "social logo text";
  padding: 10vh 50px 10vh 17px;
  row-gap: 20px;
}
@media (max-width: 870.98px) {
  .menu {
    width: 100%;
        grid-template-areas: "logo" "menu-list" "text" "social";
    padding: 10vh 55px;
    -ms-grid-rows: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    padding: 10vh 55px;
  }
}
@media (max-width: 575.98px) {
  .menu {
    padding: 5vh 40px;
  }
}
.menu__logo {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  font-family: "Angry";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin-right: 74px;
  grid-area: logo;
}
@media (max-width: 870.98px) {
  .menu__logo {
    margin: 0 auto;
  }
}
@media (max-width: 575.98px) {
  .menu__logo {
    font-size: 36px;
  }
}
.menu__list {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: menu-list;
}
@media (max-width: 870.98px) {
  .menu__list {
    margin-bottom: 45px;
  }
}
.menu__item:not(:last-child) {
  margin-bottom: 28px;
}
.menu__link {
  font-family: "Angry";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.12;
  color: #FFFFFF;
  position: relative;
}
.menu__link::after {
  content: "";
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  background: url("../img/icons/arrow-right.svg") no-repeat center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -44px;
  padding-left: 12px;
}
.menu__link:hover {
  color: #EE0039;
}
.menu__link:hover::after {
  background-image: url("../img/icons/arrow-right-hover-black.svg");
}
@media (max-width: 870.98px) {
  .menu__link {
    font-size: 35px;
  }
}
@media (max-width: 575.98px) {
  .menu__link {
    font-size: 28px;
  }
}
.menu__social {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  font-size: 0;
  margin-right: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  grid-area: social;
}
@media (max-width: 870.98px) {
  .menu__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
  }
}
.menu__social-link {
  display: block;
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
}
.menu__social-link:nth-child(1) {
  background-image: url("../img/icons/socials/state=default-white-3.png");
}
.menu__social-link:nth-child(1):hover {
  background-image: url("../img/icons/socials/state=hovered-on-white-3.png");
}
.menu__social-link:nth-child(2) {
  background-image: url("../img/icons/socials/state=default-white.png");
}
.menu__social-link:nth-child(2):hover {
  background-image: url("../img/icons/socials/state=hovered-on-white.png");
}
.menu__social-link:nth-child(3) {
  background-image: url("../img/icons/socials/state=default-white-1.png");
}
.menu__social-link:nth-child(3):hover {
  background-image: url("../img/icons/socials/state=hovered-on-white-1.png");
}
.menu__social-link:nth-child(4) {
  background-image: url("../img/icons/socials/state=default-white-2.png");
}
.menu__social-link:nth-child(4):hover {
  background-image: url("../img/icons/socials/state=hovered-on-white-2.png");
}
.menu__text {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  line-height: 1.6;
  grid-area: text;
}
@media (max-width: 870.98px){
  .menu__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .menu__list {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .menu__social {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .menu__text {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}
@media (max-width: 870.98px) {
  .menu__text {
    font-size: 17px;
  }
}
@media (max-width: 575.98px) {
  .menu__text {
    font-size: 14px;
  }
}
.menu__text-phone:hover {
  text-decoration: underline;
}
.menu__text-extra {
  width: 60%;
}
@media (max-width: 870.98px) {
  .menu__text-extra {
    width: 100%;
  }
}
.menu__text-info {
  text-decoration: underline;
}

.first-screen {
  position: relative;
  overflow: hidden;
  height: 100vh;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transition: -webkit-filter 0.5s ease-in-out;
  transition: -webkit-filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out, -webkit-filter 0.5s ease-in-out;
}
.first-screen__circle {
  position: absolute;
  width: 1280px;
  height: 1280px;
  top: 0;
  left: 50%;
  z-index: -1;
  background-image: url(../img/first-screen/surrealism-circle.png);
  background-repeat: no-repeat;
  background-position: 50% 5%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: -webkit-transform 0.7s ease-out;
  transition: -webkit-transform 0.7s ease-out;
  transition: transform 0.7s ease-out;
  transition: transform 0.7s ease-out, -webkit-transform 0.7s ease-out;
  overflow: hidden;
}
@media (max-width: 1136.98px) {
  .first-screen__circle {
    background-size: 60%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    -webkit-transform-origin: 50% 32%;
            transform-origin: 50% 32%;
  }
}
@media (max-width: 575.98px) {
  .first-screen__circle {
    display: none;
  }
}
.first-screen__circle-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.first-screen__container {
  max-width: 1228px;
  height: 100%;
}
.first-screen__advertisment {
  width: 100%;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.first-screen__advertisment--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.first-screen__advertisment--opacity {
  opacity: 1;
}
@media (max-width: 575.98px) {
  .first-screen__advertisment {
    padding-top: 72px;
  }
}
.first-screen__prev-img {
  position: absolute;
  bottom: 0;
  left: -790px;
  max-width: 838px;
  max-height: 440px;
  z-index: -100;
}
@media (max-width: 1136.98px) {
  .first-screen__prev-img {
    display: none;
  }
}
.first-screen__current-img {
  max-width: 838px;
  max-height: 55%;
  margin-bottom: 40px;
  min-width: 300px;
}
@media (max-width: 1136.98px) {
  .first-screen__current-img {
    max-width: 180%;
    height: auto;
    margin-bottom: 24px;
  }
}
@media (max-width: 575.98px) {
  .first-screen__current-img {
    max-height: 45%;
  }
}
.first-screen__next-img {
  position: absolute;
  bottom: 0;
  right: -790px;
  max-width: 838px;
  max-height: 440px;
  z-index: -100;
}
@media (max-width: 1136.98px) {
  .first-screen__next-img {
    display: none;
  }
}
.first-screen__text {
  max-width: 90%;
  margin: auto 0;
  text-align: center;
  padding-bottom: 72px;
  overflow: hidden;
}
@media (max-width: 1136.98px) {
  .first-screen__text {
    padding: 0;
    margin: 0 0 auto;
  }
}
.first-screen__dates-wrapper {
  color: #A8A5A6;
  margin-bottom: 12px;
}
.first-screen__title {
  font-family: "Angry";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  margin: 0 auto;
  display: block;
  width: 80%;
  color: #FFFFFF;
  margin-bottom: 12px;
}
@media (max-width: 1136.98px) {
  .first-screen__title {
    font-size: 50px;
    display: inline;
    margin: 0;
  }
}
@media (max-width: 870.98px) {
  .first-screen__title {
    font-size: 44px;
  }
}
@media (max-width: 575.98px) {
  .first-screen__title {
    font-size: 36px;
  }
}
.first-screen__description {
  font-size: 24px;
  line-height: 1.33;
}
@media (max-width: 1136.98px) {
  .first-screen__description {
    font-size: 20px;
    padding: 0 20px;
  }
}
@media (max-width: 575.98px) {
  .first-screen__description {
    font-size: 18px;
  }
}
.first-screen__arrows-container {
  width: 100%;
  position: absolute;
  bottom: 13%;
  left: 0;
  z-index: 300;
}
@media (max-width: 1136.98px) {
  .first-screen__arrows-container {
    bottom: 2%;
  }
}
.first-screen__arrows {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1136.98px) {
  .first-screen__arrows {
    bottom: 5%;
  }
}
.first-screen__button-prev {
  width: 124px;
  height: 26px;
  background: url("../img/first-screen/arrows/state=default-white.svg") no-repeat center;
  cursor: pointer;
}
.first-screen__button-prev:hover {
  background-image: url("../img/first-screen/arrows/state=hovered-on-black.svg");
}
.first-screen__button-next {
  width: 124px;
  height: 26px;
  background: url("../img/first-screen/arrows/state=default-white-1.svg") no-repeat center;
  cursor: pointer;
}
.first-screen__button-next:hover {
  background-image: url("../img/first-screen/arrows/state=hovered-on-black-1.svg");
}